<form>
    <mat-form-field>
        <mat-label>Nom du produit</mat-label>
        <input matInput type="text" name="nomProduit" [(ngModel)]="unProduitTest.nom" >
    </mat-form-field>
    <mat-form-field>
        <mat-label>Description du produit</mat-label>
        <input matInput type="text" name="descriptionProduit" [(ngModel)]="unProduitTest.description" >
    </mat-form-field>
      <button (click)="nomDeMaFonctionClick();" type="button">Un bouton</button>
</form>
Contenu de unProduitTest:   {{unProduitTest.nom}},  {{unProduitTest.description}}
Contenu de unProduitTest en format json:   {{unProduitTest | json}}